extends ../layouts/header
block content
    h3 Transactions
    if user.isAdmin == true
        table.table
            tr.thead-dark
                th ID
                th Username
                th Book Title
                th State
            each transaction in transactions
                tr
                    td= transaction.id
                    td= transaction.username
                    td= transaction.bookTitle
                    if transaction.isCompleted == false
                        td Uncompleted
                    else
                        td Completed
    else
        a(href="/transactions/create", class="btn btn-primary btn-lg active", role="button", aria-pressed="true") Create transaction
        table.table
            tr.thead-dark
                th ID
                th Book Title
                th State
                each transaction in transactions
                    if transaction.isCompleted == false && transaction.username == user.username
                        tr
                            td= transaction.id
                            td= transaction.bookTitle
                            td
                                a(href="/transactions/"+transaction.id+"/complete") Complete